#banner{
  height: 50px;
  background-color: black;
  text-align: center;
  width: 1400px;
}
/*
#logo123{
  width: 450px;
  text-align: center;
}

body{
  background-color: black;
}
*/
.item img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}
